				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>The Legendary Collection of Li QingZhao</h2>
                        <p> We have collaborated to interpolate the surviving remnants of her collection based on her afterword.</p>
                        <div class="index align-center">

                            <!-- Collection -->
                            <section>
                                <header>
                                    <h3> Qian Zi Wen by Xuxuan （徐铉) </h3>
                                    
                                </header>
                                <br>                          
                                <p>
                                    <span class="image fit"><img src="images/archive/qianziwen.png" alt=""/></span>
                                    <br>
                                    The "Thousand Character Text" is a famous Chinese poem utilized as a primer for young children to learn Chinese characters. 
                                    <br>
                                    It is likely that Li's original collection included a manuscript of the literary poem.
                                    <br>
                                    <br>
                                    <br>

                                    <span class="image fit"><img src="images/archive/qianziwen2.png" alt=""/></span>
                                </p>
                                <br>
                                <p>
                                    
                                </p>
                                <br>
                                
                                <br>
                            </section>


                            <section>
                                <header>
                                    <h3> "Shurangama Sutra" (大佛頂首楞嚴經) by Bai Juyi (白居易)</h3>
                                </header>

                                
                                
                                <p>
                                    <br>
                                    <br>
                                    Among Li's collection was likely a manuscript copy of the "Shurangama Sutra" by author Bai Juyi.
                                    <br>
                                    <span class="image left"><img src="images/archive/shurangamasutra.png" alt=""/></span>
                                </p>
                                
                            </section>
                        

                        <section>
                            <header>
                                <h3> Manuscript works of the acclaimed author Du Fu </h3>
                            </header>
                            <p>
                                <span class="image fit"><img src="images/archive/dufu.jpeg" alt=""/></span>
                                <br>
                                Li QingZhao mentioned losing a several manuscript copies of works by Chinese literary author Du Fu, following the siege against her hometown as outlined in her afterword.
                                <br>
                            </p>
                            
                        </section>

                        <section>
                            <header>
                                <h3> Manuscript works of the acclaimed author Han Yu </h3>
                            </header>
                            
                            <span class="image fit"><img src="images/archive/hanyu.jpeg" alt=""/></span>
                        </section>

                        <section>
                            <header><h3>A New Account on the Tales of the World</h3>
                            </header>
                            <span class="image fit"><img src="images/archive/talesoftheworld.jpeg" alt=""/></span>
                        </section>

                        <section>
                            <header><h3>“Jigulu Postscript” by Ou Yangxiu</h3>
                            </header>
                            <p>
                                <span class="image fit"><img src="images/archive/jigulupostscript2.png" alt=""/></span>
                                <br>
                                Below is the Jigulu Postscript and Li QingZhao's writing on the back of the script - a likely addition to her archival collection.
                                <span class="image fit"><img src="images/archive/jigulupostscript.png" alt=""/></span>
                            </p>
                        </section>

                        <section>
                            <header><h3>The Catalogue of Inscriptions on the Metal and Stone by Zhao Mingcheng</h3>
                            </header>
                            <p>
                                <span class="image fit"><img src="images/archive/catalogueinscriptions.png" alt=""/></span>
                                <span class="image fit"><img src="images/archive/catalogueinscriptions2.png" alt=""/></span>
                            </p>

                            
                        </section>
                    </div>

                    </div>
                </section>
