				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Poems of Li QingZhao</h2>
                        <p> Compiled below are a consolidation of the <em>poems</em> authored by Li QingZhao.</p>
                        <div class="index align-left">

                            <!-- "As If in a Dream" -->
                                <section>
                                    <header>
                                        <h3>To the tune: "As If in a Dream"</h3>
                                    </header>
                                    <div class="content">
                                        <p> <br>常記溪亭日暮。<br>
                                            沈醉不知歸路。<br>
                                            興盡晚回舟 <br>
                                            誤入藕花深處。<br>
                                            爭渡。<br>
                                            爭渡。<br>
                                            驚起一灘鷗鷺。</p>


                                        <p>I often recall one sunset in a riverside pavilion. <br>
                                            Having drunk too much, I forgot the way home. <br>
                                            Knowing it was late, I started back in my boat at dusk <br>
                                            but paddled by mistake into a thick patch of lotuses. <br>
                                            Struggling to get out, <br>
                                            struggling to get out, <br>
                                            I startled a whole sandbar of egrets into flight. <br>
                                            </p>

                                        <p><strong>-------------</strong></p>

                                        <p> 昨夜雨疏風驟。<br>
                                            濃睡不消殘酒。<br>
                                            試問捲簾人 <br>
                                            却道海棠依舊。<br>
                                            知否。<br>
                                            知否。<br>
                                            應是綠肥紅瘦。 <br>
                                        </p>

                                        <p>
                                            Last night the rain was intermittent, the wind blustery. <br>
                                            Deep sleep did not dispel the lingering wine. <br>
                                            I tried asking the maid raising the blinds, <br>
                                            who said the crab-apple blossoms were as before. <br>
                                            “Don’t you know? <br>
                                            Don’t you know? <br>
                                            The greens must be plump and the reds spindly.” <br>
                                        </p>
                                    </div>
                                </section>
                            <!-- Sands of the Washing Stream -->
                                <section>
                                    <header>
                                        <h3>To the tune: "Sands of the Washing Stream"</h3>
                                    </header>
                                    <div class="content">
                                        <p>小院閑窗春色深。<br>
                                            重簾未捲影沈沈。<br>
                                            倚樓無語理瑤琴。<br>
                                            <br>
                                            遠岫出雲催薄暮 <br>
                                            細風吹雨弄輕陰。<br>
                                            梨花欲謝恐難禁。<br>
                                        </p>

                                        <p> A small courtyard and lattice window, the spring colors are vivid. <br>
                                            The double blinds are not lifted, shadows gather deep inside. <br>
                                            She leans on the balcony, saying nothing, plucking a pearled zither. <br>
                                            <br>
                                            A distant cave emits clouds, hurrying the onset of dusk, <br>
                                            a light wind brings rain, rippling the sparse shade. <br>
                                            The pear blossoms will soon wither—no preventing it, I fear. <br>
                                        </p>
                                        
                                    </div>
                                </section>

                            <!-- A Single Cutting of Plum Blossoms -->
                                <section>
                                    <header>
                                        <h3> To the tune: “A Single Cutting of Plum Blossoms” </h3>
                                    </header>
                                    <div class="content">

                                    </div>
                                </section>

                            <!-- Drunk in the Blossom’s Shadows -->
                            <section>
                                <header>
                                    <h3> To the tune: “Drunk in the Blossom’s Shadows” </h3>
                                </header>
                                <div class="content">

                                </div>
                            </section>

                            <!-- Telling My Deepest Feelings -->
                            <section>
                                <header>
                                    <h3> To the tune: “Telling My Deepest Feelings” </h3>
                                </header>
                                <div class="content">

                                </div>
                            </section>

                            <!-- Note after note, long song -->
                            <section>
                                <header>
                                    <h3> To the tune: “Note after Note, Long Song” </h3>
                                </header>
                                <div class="content">

                                </div>
                            </section>

                            <!-- Spring in Wuling -->
                            <section>
                                <header>
                                    <h3> To the tune: “Note after Note, Long Song” </h3>
                                </header>
                                <div class="content">

                                </div>
                            </section>
                        </div>


                    </div>
                </section>
