				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>References</h2>
                        <div class="index align-left">
                            <!-- Sands of the Washing Stream -->
                                <section>
                                    <div class="content">
                                        <p>Archive collection cover photo from <a href = "https://www.schoyencollection.com/media/djcatalog2/images/liu-zongyuan-complete-works-of-poetry-ms-2664_f.jpg">shoyen collection</a></p>
                                        </p>
                                        
                                    </div>
                                </section>
                        </div>


                    </div>
                </section>
