				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>References</h2>
                        <div class="index align-left">
                            <!-- Sands of the Washing Stream -->
                                <section>
                                    <div class="content">
                                        <p>Cover photo courtesy of <a href = "http://en.chinaculture.org/focus/focus/cities/2010-08/06/content_388872.htm">China Culture</a></p>
                                        <p>"New Account on the Tales of the World" photo courtesy of <a href = "https://www.tnm.jp/?lang=en">Tokyo National Museum</a></p>
                                        
                                    </div>
                                </section>
                        </div>


                    </div>
                </section>
